<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mygroup1login">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mygroup1login">
        <activity android:name=".RaffyData"></activity>
        <activity
            android:name=".ArnData"
            android:label="@string/title_activity_arn_data"
            android:theme="@style/Theme.Mygroup1login.NoActionBar" />
        <activity android:name=".RichData" />
        <activity android:name=".EdwinData" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>